/* You can add global styles to this file, and also import other style files */

body {
	background-color: #1655F4 !important;
	color: #fff !important;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.loading {
	position: fixed;
	top: 50%;
	left: 50%;
}
